button {
    padding: 0 1.5rem;
    font-size: var(--font-md);
    font-weight: 600;
    color: #fff;
    background: var(--color-primary);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px var(--color-shadow);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    &:hover {
        background: var(--color-primary-dark);
        box-shadow:  0 0 #0000,0 0 #0000;
        &.scale {
            transform: scale(1.1);
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px var(--color-accent);
    }
    &.md {
        height: 2.5rem;
    }
    &.lg {
        height: 2.75rem;
    }
    &.outlined{
        background-color: transparent;
        border: 1px solid var(--color-border);
        color: inherit;
        &.hover{
            background-color: var(--color-primary);
            color: #fff;
        }
    }
    &.text{
        background-color: transparent;
        color: inherit;
        box-shadow: none;
        &:hover{
            background-color: var(--color-accent);
            color: var(--color-primary);
        }
    }
    svg {
        width: 1rem;
        height: 1rem;
    }
}