/* Default (mobile) */
.grid-cols-1 { grid-template-columns: repeat(1, 1fr); }

/* sm ≥ 576px */
@media (min-width: 576px) {
  .sm-grid-cols-1 { grid-template-columns: repeat(1, 1fr); }
  .sm-grid-cols-2 { grid-template-columns: repeat(2, 1fr); }
  .sm-grid-cols-3 { grid-template-columns: repeat(3, 1fr); }
}

/* md ≥ 768px */
@media (min-width: 768px) {
  .md-grid-cols-2 { grid-template-columns: repeat(2, 1fr); }
  .md-grid-cols-3 { grid-template-columns: repeat(3, 1fr); }
  .md-grid-cols-4 { grid-template-columns: repeat(4, 1fr); }
}

/* lg ≥ 992px */
@media (min-width: 992px) {
  .lg-grid-cols-3 { grid-template-columns: repeat(3, 1fr); }
  .lg-grid-cols-4 { grid-template-columns: repeat(4, 1fr); }
  .lg-grid-cols-5 { grid-template-columns: repeat(5, 1fr); }
}

/* xl ≥ 1200px */
@media (min-width: 1200px) {
  .xl-grid-cols-6 { grid-template-columns: repeat(6, 1fr); }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;  /* md */
  }

}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px; /* lg */
  }
  .isMobile {
    display: none;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px; /* xl */
  }
}

@media (min-width: 1430px) {
  .container {
    max-width: 1430px; /* 2xl */
  }
}

@media (max-width: 1024px) {
  .navs {
    display: none;
  }
  
}


/* small devices */
@media (max-width: 640px) {
  .text-2xl { font-size: calc(var(--font-2xl) * .75) !important; }
  .text-3xl { font-size: calc(var(--font-3xl) * .75) !important; }
  .text-4xl { font-size: calc(var(--font-4xl) * .75) !important; }
  .text-5xl { font-size: calc(var(--font-5xl) * .75) !important; }
  .text-6xl { font-size: calc(var(--font-6xl) * .75) !important; }
}
