:root {
    --color-primary: #007fff; /* main blue used for avatar/button */
    --color-primary-dark: #0066cc;
    --color-primary-600: #0a74e6;
    --color-primary-100: rgb(0 127 255 / 50%);

    --color-bg: #ffffff; /* very light blue page background */
    --color-hero-bg: #f2f8ff;
    --color-bg-light-gray: rgb(243 244 247 / 30%);
    --color-surface: #ffffff; /* cards, header background */

    --color-text: #1f2d3d; /* dark heading */
    --color-text-muted: #65758b; /* secondary/muted text */

    --color-border: #e0e5eb;
    --color-shadow: 0 10px 40px -10px hsl(210 100% 50% / .15);

    --color-accent: #e8f2fc; /* light accent / icon circle */
    /* Gradients */
    --gradient-primary: linear-gradient(135deg, hsl(210 100% 50%), hsl(210 100% 60%));
    --gradient-hero: linear-gradient(135deg, hsl(210 100% 50%) 0%, hsl(215 95% 55%) 100%);
    --gradient-overlay: linear-gradient(to bottom, hsl(210 100% 50% / 0.05), transparent);
    // fonts 
    --font-xs: 0.75rem;  // 12px
    --font-sm: 0.875rem; // 14px
    --font-md: 1rem;     // 16px
    --font-lg: 1.125rem; // 18px
    --font-xl: 1.25rem;  // 20px
    --font-2xl: 1.5rem;  // 24px
    --font-3xl: 1.875rem;// 30px
    --font-4xl: 2.25rem; // 36px
    --font-5xl: 3rem;    // 48px
    --font-6xl: 3.75rem; // 60px


    --card: #ffffff;

}