@use './variables';
@use './mediaQuery';
@use './button';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}
p {
    color: var(--color-text-muted);
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul {
    list-style: none;
}
.grid {
    display: grid;
    gap: 1rem;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.h-96 {
    height: 24rem;
}
.text-xs   { font-size: var(--font-xs);   font-weight: var(--fw-light); }
.text-sm   { font-size: var(--font-sm);   font-weight: var(--fw-light); }
.text-md   { font-size: var(--font-md);   font-weight: var(--fw-normal); }
.text-lg   { font-size: var(--font-lg);   line-height: 1.75rem; font-weight: var(--fw-medium); }
.text-xl   { font-size: var(--font-xl);   font-weight: var(--fw-semibold); }
.text-2xl  { font-size: var(--font-2xl);  font-weight: var(--fw-semibold); }
.text-3xl  { font-size: var(--font-3xl);  font-weight: var(--fw-bold); color: var(--color-bold-font) }
.text-4xl  { font-size: var(--font-4xl);  font-weight: var(--fw-bold); color: var(--color-bold-font) }
.text-5xl  { font-size: var(--font-5xl);  font-weight: var(--fw-bold); color: var(--color-bold-font) }
.text-6xl  { font-size: var(--font-6xl);  font-weight: var(--fw-bold); color: var(--color-bold-font) }
// ==== Margin Utilities ====
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mt-6 { margin-top: 2.5rem; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 2rem; }
.mb-6 { margin-bottom: 2.5rem; }
.mb-16 { margin-bottom: 4rem; }
.mx-1 { margin-inline: 0.25rem; }
.mx-2 { margin-inline: 0.5rem; }
.mx-3 { margin-inline: 1rem; }

.mx-auto { margin-left: auto; margin-right: auto; }
// ==== Padding Utilities ====
.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 1rem; }
.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 1rem; }
.px-1 { padding-inline: 0.25rem; }
.px-2 { padding-inline: 0.5rem; }
.px-3 { padding-inline: 1rem; }
.px-4 { padding-inline: 1.5rem; }
.pt-20 { padding-top: 5rem; }
.pb-20 { padding-bottom: 5rem; }

.p-4 { padding: 1.5rem; }
// ==== Gaps Utilities ====
.gap-0 { gap: 0; }
.gap-1 { gap: 0.25rem; }   // 4px
.gap-2 { gap: 0.5rem; }    // 8px
.gap-3 { gap: 0.75rem; }   // 12px
.gap-4 { gap: 1rem; }      // 16px
.gap-5 { gap: 1.25rem; }   // 20px
.gap-6 { gap: 1.5rem; }    // 24px
.gap-8 { gap: 2rem; }  

.max-w-4xl {
    max-width: 56rem;
}

.text-primary {
    color: var(--color-primary);
}
.text-foreground {
    color: var(--color-text);
}
.bg-accent {
    background-color: var(--color-accent);
}
.bg-light-gray {
    background-color: var(--color-bg-light-gray);
}
.center-horz-vert {
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex {
    display: flex;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.align-center {
    display: flex;
    align-items: center;
}
.text-center {
    text-align: center;
}
.text-start {
    text-align: start
}
header {
    @extend .flex-between;
    padding: 0 1rem;
    height: 80px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    &.scrolled {
        background-color: hsl(0 0% 100% / 0.95);
        box-shadow: var(--color-shadow);
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
}
nav {
    &.mobile-navs {
        position: absolute;
        top: 80px;
        bottom: 0;
        width: 100%;
        min-height: 300px;
        z-index: 999;
        background-color: var(--color-accent);
        ul {
            flex-direction: column;
            justify-content: space-around;
            gap: .5rem;
            li {width: 100%;}
            a {display: block;
                 padding-inline: 1rem;
                 padding-block: .75rem;
                  width: inherit;
                }
            a:hover {
                background-color: var(--color-accent);
                a {color: var(--color-primary);}
                transition: all .3 ease;
            }
        }
    }
    ul {
    list-style: none;
    @extend .flex-between;
    gap: 1.5rem;
    a:hover {
        color: var(--color-primary);
        transition: color 0.3s ease;
    }
    
}
}
section {
    @extend .pt-20;
    @extend .pb-20;
}
#home {
    @extend.pt-20;
    min-height: 100vh;
    @extend .center-horz-vert;
    background: var(--color-hero-bg);
    .hero {
        padding-block: 5rem;
        padding-inline: 1rem;
        margin-inline: auto;
        text-align: center;
        @extend .max-w-4xl;
        p {
            max-width: 42rem;
        }
    }
}
.card {
    background-color: var(--card);
    border: 1px solid var(--color-border);
    border-radius: .75rem;
    padding: 1.5rem;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: var(--color-shadow);
        transform: scale(1.03);
        transition: all 0.3s cubic-bezier(.4,0,.2,1);
        &.colored {
            border-color: var(--color-primary-100);
            .avatar {
                background-color: var(--color-primary);
                color: white;
            }
        }
    }
}

.avatar {
    @extend .center-horz-vert;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-accent);
    color: var(--color-primary);
    transition: all 0.3s ease;
    &.rectangle {
        border-radius: 0.75rem;
    }
}
.chip{
    display: inline-block;
    padding-block: .25rem;
    padding-inline: .75rem;
    border-radius: 9999px;
    background-color: var(--color-accent);
    color: var(--color-primary);
    &.rectangle {
        padding-block: .5rem;
        padding-inline: 1rem;
        border-radius: .75rem;
        transition: all .3s ease;
        &:hover {
            background-color: var(--color-primary);
            color: white;

        }
    }
}

.project_image {
    height: 16rem;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s cubic-bezier(.4,0,.2,1);

    }
    &.hover img{
        transform: scale(1.1);
    }
}
.projet_content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
footer {
    padding-block: 3rem;
    padding-inline: 1rem;
    background-color: var(--card);
    border-top: 1px solid var(--color-border);
    .links {
        a{
            color: var(--color-text-muted);
            &:hover{
                color: var(--color-primary);
            }
        }
    }
    a {
        .avatar {
            background-color: var(--color-accent);
            color: inherit;
            &:hover {
                background-color: var(--color-primary);
                color: white;
            }
        }
    }
}

.float-button {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    background-color: var(--color-success);
    color: white;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
        background-color: var(--color-success-dark);
    }
    svg{
        flex-shrink: 0;
    }
}



/* Slide from left */
.slide-enter-active, .slide-leave-active {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.slide-enter-from {
  transform: translateX(-100%);
  opacity: 0;
}
.slide-enter-to {
  transform: translateX(0);
  opacity: 1;
}
.slide-leave-from {
  transform: translateX(0);
  opacity: 1;
}
.slide-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}