@use './variables';
@use './mediaQuery';
@use './button';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', 'Inter', sans-serif;
}
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}
p {
    color: var(--color-text-muted);
}
a {
    text-decoration: none;
    color: inherit;
}
.grid {
    display: grid;
    gap: 1rem;
}
.text-xs { font-size: var(--font-xs); }
.text-sm { font-size: var(--font-sm); }
.text-md { font-size: var(--font-md); }
.text-lg { font-size: var(--font-lg); line-height: 1.75rem; }
.text-xl { font-size: var(--font-xl); }
.text-2xl { font-size: var(--font-2xl); }
.text-3xl { font-size: var(--font-3xl); }
.text-4xl { font-size: var(--font-4xl); }
.text-5xl { font-size: var(--font-5xl); }
.text-6xl { font-size: var(--font-6xl); }
// ==== Margin Utilities ====
.mt-1 { margin-top: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mt-3 { margin-top: 1rem; }
.mb-1 { margin-bottom: 0.25rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 2rem; }
.mb-6 { margin-bottom: 2.5rem; }
.mx-1 { margin-inline: 0.25rem; }
.mx-2 { margin-inline: 0.5rem; }
.mx-3 { margin-inline: 1rem; }

.mx-auto { margin-left: auto; margin-right: auto; }
// ==== Padding Utilities ====
.pt-1 { padding-top: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pt-3 { padding-top: 1rem; }
.pb-1 { padding-bottom: 0.25rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pb-3 { padding-bottom: 1rem; }
.px-1 { padding-inline: 0.25rem; }
.px-2 { padding-inline: 0.5rem; }
.px-3 { padding-inline: 1rem; }
.pt-20 { padding-top: 5rem; }
.pb-20 { padding-bottom: 5rem; }

// ==== Gaps Utilities ====
.gap-0 { gap: 0; }
.gap-1 { gap: 0.25rem; }   // 4px
.gap-2 { gap: 0.5rem; }    // 8px
.gap-3 { gap: 0.75rem; }   // 12px
.gap-4 { gap: 1rem; }      // 16px
.gap-5 { gap: 1.25rem; }   // 20px
.gap-6 { gap: 1.5rem; }    // 24px
.gap-8 { gap: 2rem; }  

.max-w-4xl {
    max-width: 56rem;
}

.text-primary {
    color: var(--color-primary);
}
.text-foreground {
    color: var(--color-text);
}
.bg-accent {
    background-color: var(--color-accent);
}
.bg-light-gray {
    background-color: var(--color-bg-light-gray);
}
.center-horz-vert {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.align-center {
    display: flex;
    align-items: center;
}
.text-center {
    text-align: center;
}
.text-start {
    text-align: start
}
header {
    @extend .flex-between;
    padding: 0 1rem;
    height: 80px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
nav ul {
    list-style: none;
    @extend .flex-between;
    gap: 1.5rem;
    a:hover {
        color: var(--color-primary);
        transition: color 0.3s ease;
    }
    
}
section {
    @extend .pt-20;
    @extend .pb-20;
}
#home {
    @extend.pt-20;
    height: 100vh;
    @extend .center-horz-vert;
    background: var(--color-hero-bg);
    .hero {
        padding-block: 5rem;
        padding-inline: 1rem;
        margin-inline: auto;
        text-align: center;
        @extend .max-w-4xl;
        p {
            max-width: 42rem;
        }
    }
}
.card {
    background-color: var(--card);
    border: 1px solid var(--color-border);
    border-radius: .75rem;
    padding: 1.5rem;
    transition: all 0.3s ease;
    &:hover {
        box-shadow: var(--color-shadow);
        transform: scale(1.05);
        transition: all 0.3s cubic-bezier(.4,0,.2,1);
        &.colored {
            border-color: var(--color-primary-100);
            .avatar {
                background-color: var(--color-primary);
                color: white;
            }
        }
    }
}

.avatar {
    @extend .center-horz-vert;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--color-accent);
    color: var(--color-primary);

    &.rectangle {
        border-radius: 0.75rem;
    }
}